
<nav>
  <ul>
    <li><a href="/pages/schedule/schedule.html" class="nav-link">Schedule</a></li>
    <li><a href="/pages/individuals/individuals.html" class="nav-link">Individuals</a></li>
    <li><a href="/pages/teams/teams.html" class="nav-link">Teams</a></li>
    <li><a href="/pages/events/events.html" class="nav-link">Events</a></li>
    <li><a href="/pages/scoring/scoring.html" class="nav-link">Scoring</a></li>
  </ul>
</nav>
<div class="hdr-content">
  <p class="hdr-next-event"></p>
  <p class="hdr-time">00:00:00</p>
  <div class="hdr-username-dropdown">
    <p class="hdr-username">undefined</p>
    <ul class="dropdown-menu">
      <li><button class="logout-btn">Logout</button></li>
    </ul>
  </div>
</div>

<!-- styles -->
<style>
  header {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 70px;
    padding: 0 30px;
    background: transparent;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.4);
  }

  nav ul {
    display: flex;
    gap: 15px;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
  }

  /* changes underline if current page */
  nav ul li a.nav-link {
    text-decoration: none;
    color: black;
    font-size: 3rem;
  }

  nav ul li a.nav-link.current {
    text-decoration: underline;
  }

  header p {
    font-size: 3rem;
    color: black;
  }

  .hdr-content {
    display: flex;
    gap: 55px;
  }

  .hdr-content span {
    font-weight: 700;
  }

  .hdr-username-dropdown {
    position: relative;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
  }

  .hdr-username-dropdown:hover .dropdown-menu {
    display: block;
  }

  .logout-btn {
    all: unset;
    cursor: pointer;
    padding: 7px;
    font-size: 2.4rem;
    border: 2px solid black;
    background: white;
    color: black;
  }

  .logout-btn:hover {
    background-color: lightgrey;
  }
</style>
<script>
  $(document).ready(function() {
    updateNextEvent();

    // updates nav with current page
    var currentPagePath = window.location.pathname;
    $('nav ul li a[href="' + currentPagePath + '"]').addClass('current');

    function updateNextEvent() {
      let indEvents = JSON.parse(localStorage.getItem('indEvents')) || [];
      let teamEvents = JSON.parse(localStorage.getItem('teamEvents')) || [];
      let currentTime = new Date();
      let nextEvent = null;
      let nextEventTime = null;

      // Combine individual and team events into one array
      let events = [...indEvents, ...teamEvents];

      if (events && events.length > 0) { // Check if there are any events
        // Loop through all events
        events.forEach(event => {
          let eventTime = new Date();
          let timeParts = event.startTime.split(':');
          eventTime.setHours(timeParts[0]);
          eventTime.setMinutes(timeParts[1]);

          // If event is in the future and sooner than the current next event, set it as the new next event
          if (eventTime > currentTime && (nextEventTime == null || eventTime < nextEventTime)) {
            nextEvent = event;
            nextEventTime = eventTime;
          }
        });
      }

      // Display the next event
      $('.hdr-next-event').html(`Next event: ${nextEvent ? `<span>${nextEvent.type}</span> ${nextEvent.name} @ ${nextEvent.startTime}` : 'No upcoming events'}`);
    };

    // Call the updateNextEvent function every minute
    setInterval(updateNextEvent, 60000);

    // sets the clock in hh:mm:ss
    setInterval(function() {
      var now = new Date();
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var seconds = now.getSeconds();
      hours = (hours < 10 ? "0" : "") + hours;
      minutes = (minutes < 10 ? "0" : "") + minutes;
      seconds = (seconds < 10 ? "0" : "") + seconds;
      $('.hdr-time').text(hours + ":" + minutes + ":" + seconds);
    }, 1000);

    // sets the username
    var user = JSON.parse(localStorage.getItem('user'));
    var username = user.username;
    $('.hdr-username').text(`${username} ↓`)

    // logs out user
    $('.logout-btn').click(function() {
      localStorage.removeItem('user'); // remove user information from local storage
      window.location.href = '/pages/auth/auth.html'; // redirect to login page
    });
  });
</script>