
.team-list-sect {
  width: 40%;
  height: 90%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.team-edit {
  width: 50%;
  height: 90%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

/* part select/add section */

.team-list {
  overflow: auto;
}

.row {
  width: 100%;
}

.split {
  display: flex;
}

.split > * {
  flex: 1;
}

.btns {
  display: flex;
}

.btns > * {
  all: unset;
  cursor: pointer;
  flex: 1;
  margin: 0 10px;
  background: #fff;
  border: 2px solid black;
  text-align: center;
  font-size: 2.4rem;
}

.team-name {
  background: #fff;
  margin: 0 10px;
  text-align: center;
  font-size: 2.4rem;
}

.add-part-btn {
  height: 30px;
  margin: auto 10px 0 10px;
}

/* edit team section */
.team-edit-events-container {
  height: 100%;
  margin-bottom: 10px;
}

.team-edit-name input {
  width: 100%;
  background: #fff;
  font-size: 4.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.team-edit-events {
  height: 100%;
  background: #fff;
  font-size: 4.2rem;
  display: flex;
  flex-direction: column;
}

.team-edit-events-title {
  text-align: center;
}

.team-edit-events-list {
  padding: 0 20px;
}

.team-edit-events-list span {
  float: right;
}

.team-edit-events-btn {
  margin-top: auto;
}

/* edit event pop up box */
.modify-event-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modify-event-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #BFFBFF;
  border: 2px solid black;
  width: 60%;
  height: 80%;
  border-radius: 20px;
  font-size: 4.2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modify-event-popup > p {
  font-weight: 700;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.events-list {
  width: 50%;
  background: #fff;
  font-size: 3.2rem;
}

.events-list div {
  display: flex;
  justify-content: space-around;
}

.events-list div input {
  transform: scale(1.5);
}

.btn-container {
  width: 100%;
  display: flex;
  margin-top: auto;
}

.confirm-btn {
  flex: 2;
}

.cancel-btn {
  flex: 1;
}

.del-btn, .edit-btn {
  user-select: none;
}